#dashboard{
  height: 100%;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: center;
}

#dashboard h1,h2{
  text-align: center;
}

#dashboard svg {
  background-color: rgba(210, 210, 210, 0.75);
  margin-bottom: 20px;
  border-radius: 5px;
}

body{
    background-color: rgba(245, 245, 245, 0.15) !important;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
}

.row.justify-content-between{
  margin-left: 5%;
  padding-right: 5%;
}

.col-1 ul{
  margin-right: 5px;
}

h1 {
  margin-bottom: 0px !important;
}

g.tick{
  font-size: 14px;
}

svg img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.container {
  padding-left: 0.5vw !important;
  padding-right: 0.5vw !important;
  margin-left: 0.5vw !important;
  margin-right: 0.5vw !important;
  width: 99vw !important;
  max-width: 99vw !important;
}

.col-sm-3 button{
  margin: 0 10% 0 10%;
}

.row div button{
  margin-top: 15px !important;
}

@media screen and (max-width: 1000px) {
  .row.justify-content-between{
    margin-left: 3%;
  }

  .col-sm-3 button{
    margin: 0 !important;
  }

  .col-sm-5 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .col-sm-3 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .col-sm-2, .col-sm-3, .col-sm-5{
    width: 100% !important;
  }
  
  .row div{
    justify-content: center;
    padding-top: 15px;
  }

  .row button{
    width: 50%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 670px) {
  .row.justify-content-between{
    margin-left: 1%;
  }

  .container .row{
    max-width: 500px;
    min-width: 450px;
  }

  .row div{
    justify-content: center;
    padding-top: 15px;
  }

  .row button{
    width: 100%;
    margin-top: 15px;
  }
}
