#dashboard{
  background-color: rgba(220, 220, 220, 0.65);
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    border-radius: 5px;
}

#dashboard svg {
  background-color: rgba(210, 210, 210, 0.75);
  margin-bottom: 20px;
  border-radius: 5px;
}

body{
    background-color: rgba(230, 230, 230, 0.6) !important;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
}

.col-1 ul{
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  margin-bottom: 0px !important;
}

g.tick{
  font-size: 14px;
}

svg img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.container {
  padding-left: 0.5vw !important;
  padding-right: 0.5vw !important;
  margin-left: 0.5vw !important;
  margin-right: 0.5vw !important;
  width: 99vw !important;
  max-width: 99vw !important;
}

@media screen and (max-width: 670px) {
  .container .row{
    max-width: 410px;
  }
}
