#dashboard{
    /* background-color: #003B46; */
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

body{
    background-color: #e3e9e9 !important;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
}

svg {
    width: 100%;
    height: 100%;
}

g.tick{
  font-size: 16px;
}

svg img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.container {
  padding-left: 2.5vw !important;
  padding-right: 2.5vw !important;
  margin-left: 2.5vw !important;
  margin-right: 2.5vw !important;
  width: 95vw !important;
  max-width: 95vw !important;
}